@model SportsStoreMVC.Models.Domain.Product
@{
    ViewData["Title"] = "Delete Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h2>Are you sure you want to delete product @Model.Name</h2>
<form method="post">
    <button class="btn btn-primary" type="submit">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>